[tools]
pre-commit = "4.3.0"
python = ["3.12", "3.13", "3.11"]
uv = "latest"


[env]
# _.file = '.env'
_.python.venv = { path = ".venv" }

[tasks.install]
run = "uv sync"

[tasks.serve_docs]
run = "mkdocs serve --livereload"
depends = ["install"]
