{% if has_intflag and has_strenum %}
from enum import IntFlag, StrEnum
{% elif has_intflag %}
from enum import IntFlag
{% elif has_strenum %}
from enum import StrEnum
{% endif %}
from typing import Literal

{% if datetime_fields %}
from pydantic import Field, field_validator
{% else %}
from pydantic import Field
{% endif %}

from .base import AttributesBase, {{ base_class }}
{% for imp in extra_imports %}
{{ imp }}
{% endfor %}
{% for enum in strenums %}


class {{ enum.name }}(StrEnum):
{% for member_name, member_value in enum.members %}
    {{ member_name }} = "{{ member_value }}"
{% endfor %}
{% endfor %}
{% for enum in features %}


class {{ enum.name }}(IntFlag):
{% for member_name, member_value in enum.members %}
    {{ member_name }} = {{ member_value }}
{% endfor %}
{% endfor %}


class {{ domain_title }}Attributes(AttributesBase):
{% for prop in properties %}
    {{ prop.name }}: {{ prop.python_type }} = Field(default=None)
{% endfor %}
{% if not properties %}
    pass
{% endif %}
{% if datetime_fields %}

    @field_validator({{ datetime_fields | map("tojson") | join(", ") }}, mode="before")
    @classmethod
    def _parse_datetime_fields(cls, value: str | ZonedDateTime | None) -> ZonedDateTime | None:
        return convert_datetime_str_to_system_tz(value)
{% endif %}
{% for enum in features %}
{% for member_name, _member_value in enum.members %}

    @property
    def supports_{{ member_name | lower }}(self) -> bool:
        return self.has_feature({{ enum.name }}.{{ member_name }})
{% endfor %}
{% endfor %}


class {{ domain_title }}State({{ base_class }}):
    """Representation of a Home Assistant {{ domain }} state.

    See: https://www.home-assistant.io/integrations/{{ domain }}/
    """

    domain: Literal["{{ domain }}"]

    attributes: {{ domain_title }}Attributes
