<div class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Active</p>
      <p class="title is-4 has-text-success">{{ scheduler_summary.active }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Repeating</p>
      <p class="title is-4">{{ scheduler_summary.repeating }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Total</p>
      <p class="title is-4">{{ scheduler_summary.total_jobs }}</p>
    </div>
  </div>
</div>
<a href="/ui/scheduler" class="button is-small is-link is-outlined">View All</a>
