<div class="ht-level">
  <div class="ht-level-item">
    <div>
      <p class="ht-label">Active</p>
      <p class="ht-heading-4 ht-text-success">{{ scheduler_summary.active }}</p>
    </div>
  </div>
  <div class="ht-level-item">
    <div>
      <p class="ht-label">Repeating</p>
      <p class="ht-heading-4">{{ scheduler_summary.repeating }}</p>
    </div>
  </div>
  <div class="ht-level-item">
    <div>
      <p class="ht-label">Total</p>
      <p class="ht-heading-4">{{ scheduler_summary.total_jobs }}</p>
    </div>
  </div>
</div>
<a href="/ui/scheduler" class="ht-btn ht-btn--sm ht-btn--link">View All</a>
