:root {
    --content-max-width: 60rem;
}

.content {
    flex: 1 1 var(--content-max-width) !important;
    max-width: var(--content-max-width) !important;
}

@media (max-width: 1000px) {
    .content {
        max-width: 100% !important;
    }
}
