name: Test and Lint

on:
    push:
    workflow_dispatch:

jobs:
    test:
        runs-on: ubuntu-latest

        env:
            TZ: America/Chicago

        strategy:
            fail-fast: false
            matrix:
                python-version: ["3.11", "3.12", "3.13"]

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Install uv and set the Python version
              uses: astral-sh/setup-uv@v6
              with:
                  python-version: ${{ matrix.python-version }}

            - name: Run lint checks
              run: |
                  uv tool install ruff==0.14.9
                  uvx pre-commit run --all-files --hook-stage pre-push
            - run: uv sync
            - name: Run tests with coverage
              run: uv run nox -t coverage -p ${{ matrix.python-version }}

            - name: Upload coverage data
              uses: actions/upload-artifact@v4
              with:
                  name: .coverage.${{ matrix.python-version }}
                  path: .coverage.${{ matrix.python-version }}
                  include-hidden-files: true

    combine-and-report:
        needs: [test]
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Install uv and set the Python version
              uses: astral-sh/setup-uv@v6
              with:
                  python-version: 3.11

            - name: Install coverage
              run: |
                  uv venv
                  uv pip install -U 'coverage[toml]'

            - uses: actions/download-artifact@v5
              with:
                  path: coverage-parts
                  pattern: .coverage.*
                  merge-multiple: true

            - name: Combine coverage and report
              run: |
                  uv run coverage combine coverage-parts
                  uv run coverage xml -o coverage.xml
                  uv run coverage report

            - name: Upload HTML report (artifact)
              uses: actions/upload-artifact@v4
              with:
                  name: coverage-html
                  path: htmlcov

            - name: Upload XML for integrations
              uses: actions/upload-artifact@v4
              with:
                  name: coverage-xml
                  path: coverage.xml

            - name: Upload coverage to Codecov
              uses: codecov/codecov-action@v5
              with:
                  files: coverage.xml
                  fail_ci_if_error: true
                  verbose: true
                  name: codecov-${{ github.run_id }}
                  token: ${{ secrets.CODECOV_TOKEN }}
